<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prodamarket</title>
    <style>
        DIV {
            padding-left: 500px;
            padding-right: 500px;
        }
    </style>
</head>
<body>

<div>

    <h1>Welcome to our Prodamarket data base</h1>

    <br>

    <form action="/products" method="get">
        <input type="submit" value="Show products">
    </form>

    <br>

    <form action="/products/new" method="get">
        <input type="submit" value="Add product">
    </form>

</div>

</body>
</html>